<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albumify/album</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css">
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>Here's Your Favorite Album</h1>
        <p>This shows you your favorite album based on the number of times it has appeared in your playlists</p>
        <a href="{{ url_for('home') }}">Go back to Home</a>
    </div>
    
    <py-script src="{{ url_for('static', filename='main.py') }}"></py-script>
</body>
</html>