<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albumify/Playlists</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css">
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class = "playlist-list">
        <h1>Your Playlists</h1>
        <ul>
            {% for name, url in list %}
                <li>{{ name }}: <a href="{{ url }}">{{ url }}</a></li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('home') }}">Go back to Home</a>
        <a href="{{ url_for('get_album') }}">Get Album</a>
    </div>

</body>


</html>